@import 'tailwindcss';

@theme {
	--color-humo: #f8f8f8;
	--color-jungle: #b3cdd8;
	--color-sandal: #aa8c69;
	--color-bridal: #fdf6ef;
}

@layer base {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

button {
	cursor: pointer;
}
